.fog-configurer {
	margin-bottom: 1rem;
	display: flex;
	justify-content: center;
	align-items: baseline;
	
	#fog-enabled {
		margin-left: 1rem;
		transform: scale(2);
	}
	
	.configure-button {
		margin-left: 1rem;
		border: 1px solid;
	}
}