.map-panel {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	margin-left: 0.3rem;
	margin-bottom: 0.3rem;
	border: ridge;
	width: 150px;
	height: 150px;
	
	> img {
		max-width: 150px;
		max-height: 130px;
		object-fit: contain;		
	}
}