.map-panel {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	margin-left: 0.3rem;
	margin-bottom: 0.3rem;
	border: ridge;
	width: 15%;
	height: 220px;
	
	> img {
		padding: 2%;
		max-width: 95%;
		max-height: 80%;
		object-fit: contain;		
	}
}