.map-panel {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	margin-left: 0.3rem;
	margin-bottom: 0.3rem;
	border: ridge;
	width: 150px;
	height: 150px;
	
	> img {
		max-width: 150px;
		max-height: 130px;
		object-fit: contain;		
	}
	
	.zoomed-header {
		display: flex;
		justify-content: space-between;
		
		.filename {
			flex-grow: 10;
		}
	}

	.zoomed-footer {
		display: flex;
		justify-content: space-between;
		
		.tags {
			margin-left: 0.3rem;
			flex-grow: 10;
		}
	}
	
	.zoomed-map {
		position: fixed;
		display: flex;
		flex-direction: column;
		background-color: black;
		top: 15%;
		left: 50%;
		transform: translate(-50%, 0);
		
		> img {
			max-width: 500px;
			max-height: 400px;
			object-fit: contain;
		}
	}
}