.maps-filter {
	display: flex;
	padding: 0 0.3rem 0.3rem;
	margin-bottom: 0.3rem;
	border-bottom: solid;
	
	#name-input {
		flex-grow: 1;
		margin-left: 0.3rem;
		margin-right: 0.3rem;
	}
	
	.chip {
		font-size: 100%;
	}
		
	> div {
		flex-grow: 1;
		margin-left: 0.3rem;
	}
	
	.option {
		background-color: black;
	}
}